/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Vanessa Magana GOES HERE and this is the beginning of my CONTACT PAGE CSS for 201 Digital Typography November 2019 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/Background\ Oficial.jpg) 
	center center fixed no-repeat;
  background-size:cover;
  font-family: "helvetica", sans-serif;
}

.center {
    width: 80%; /* added this to make div responsive */
	width: 800px;
	max-width: 800px;
	padding: 2%;
    margin: 100px auto;
	border-radius: 30px 150px;
	text-align: center;
 	background: rgba(256, 256, 256, .60); /*this uses opacity of 60% for the background color*/
    /*removed -- border: 4px dashed white;
	*/
}

#logo {
    margin-bottom: 50px;
	margin-top: 40px;
    text-align: center;
}

p {
	font-family: chaparral-pro-subhead,serif;
    font-weight: 400;
    font-style: normal;
	letter-spacing: 1px;
    color: #b79a90;

	/*testing out fading in and out*/
	 animation: fadeIn ease 10s;
	 -webkit-animation: fadeIn ease 10s;
	 -moz-animation: fadeIn ease 10s;
	 -o-animation: fadeIn ease 10s;
	 -ms-animation: fadeIn ease 10s;
	}
	@keyframes fadeIn {
	 0% {
		 opacity: 0;
	 }
	 100% {
		 opacity: 1;
	 }
	}
	@-moz-keyframes fadeIn {
	  0% {
		  opacity: 0;
	  }
	  100% {
		  opacity: 1;
	  }
	}
	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0;
		}
	}
	@-o-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-ms-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
nav{
	font-family: garamod, serif;
    font-size: 2em;
    width: 400px;
	margin: 0 auto;
	border-width: 2px 0;
	text-align: center;
	margin-top: 1em;
    }
nav li{
	display:inline;
}
nav a{
	display: inline-block;
	padding: 10px;
    }

a{ 
	color: #ae8e84;
    text-decoration: none;
	font-weight: bold;
	letter-spacing: 8px;
	align-items: center;
    }
a:hover{
	color: #c3aaa2;
	background: #f5f1f0;
}