/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}
body {
    background-color: #024034;

  }

h1 {
    width: 10rem;
    background-image: url('HIATUS\ Title\ light.png');
}

div.container, div.home-container {
    position: relative;
    min-height: 100vh;
    max-width: 37em;
    margin: auto;
}

header {
    padding: 1rem .5rem 0;
}

/* remove underline from links */
a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

nav {
    padding: 1rem 0;
    font-family: "bebas-kai", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.8em;

}

.main h2{
    padding-top: .5rem;
    font-size: 2.5em;
}

.secondary h2 {
    padding-top: .5rem;
    font-size: 1.8em;
}

.tertiary h2 {
    border-top: 1px solid rgb(70 124 127);
    padding-top: 1em;
    font-size: 1.2em;
}

h2, li a {
    color: #fafafa;
    font-family: "bebas-kai", sans-serif;
    font-weight: 200;
    font-style: normal;
}

li {
    line-height: 1.4em;
}

p {
    font-family: "effra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fafafa;
    padding-bottom: 1.8rem;
    line-height: 1.2em;
    font-size: 1.1em;
}

/* div.container figure {
    padding-top: .2rem;
} */

h2, p, figcaption {
    margin: 0 .5rem;
}

footer {
    background-color: rgb(70 124 127);
    padding: .5em;
}

footer p {
    font-family: "effra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fafafa;
    padding: auto;
    padding-top: .75rem;
}


/* styles individual stories */

figcaption {
    font-style: oblique;
    font-family: "effra", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #fafafa;
    padding: .5rem 0 1.2rem;
}

aside {
    background-color: rgb(70 124 127);
    padding: 1rem .5rem;
}

aside h2 {
    padding-top: .3rem;
}

article h2 {
    font-family: "effra", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding: 1.5rem 0 .5rem 0;
}


@media screen and (min-width: 37em) {
    nav ul li {
        display: inline;
        margin-right: 0.75rem;
    }

    header {
        padding: 1rem 0 0 0;
    }

    h2, p, figcaption {
        margin: 0;
    }

    p {
        padding-bottom: .8em;
    }

    aside p {
        margin: 0 0 0.7rem 0;
    }

    main p {
        margin: 0 0 1rem 0;
    }
}

@media only screen and (min-width: 60em){

    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

     header, footer {
        grid-column: 1/3;
     }

     div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
     }

     div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
     }

     div.container aside {
        margin-top: 0;
        background:rgb(70 124 127);
        
     }

     div.container aside h2{
         font-size: 1.2em;
         color:  rgb(2, 64, 52);
     }

     section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
     }

section.mainstory a{
    flex: 1 0 12em;
    display: flex;
    flex-direction: column;
}

section.mainstory a figure {
    flex: 1 0 12em;
    display: flex;
}

section.mainstory a figure img{
    object-fit: cover;
}


section.mainstory a h2 {
    flex: 0 0 1em;
    font-size: 2.5em;
}

section.mainstory a p {
    flex: 0 0 4em;
}

section.secondary{
    display: flex;
 }

section.secondary a{
flex: 1 0 12em;
display: flex;
flex-direction: column;
}

section.secondary a figure {
display: flex;
flex: 1 0 12em;

}

section.secondary a figure img{
object-fit: cover;
}


section.secondary a h2 {
flex: 0 0 1em;
}

section.secondary a p {
flex: 0 0 4em;
}
}


/* Photo Gallery */

.Photo-Gallery {
	width: 100%;
}

.Photo-Gallery nav ul li {
    display: inline;
    margin-right: 0.75rem;
}

div.Photo-Gallery {
    background-color: rgb(2, 64, 52);
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}


.Photo-Gallery main{
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
}

.Photo-Gallery  figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.Photo-Gallery figcaption {
    font-style: oblique;
    font-family: "effra", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #fafafa;
    padding: .5rem 0 1.2rem;
}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8)
{
    opacity: 1;
}
section.Photo-Gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .4em;
    margin-bottom: .5em;
}

.Photo-Gallery input {
    display: none;
}
section.Photo-Gallery aside{
    margin: 0 0 0.7rem 0;
}



/* Newsletter */

div.personal-info {
	display: flex;
	flex-direction: column;
	    max-width: 50em;
        margin: 1em;
        padding: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 8 0 24em;
	box-sizing: border-box;
}

header{
	flex: 1 0 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    
}
section.personal-info {
    padding: 2em;
    margin-bottom: 2em;
   
}

form {
    background: #e8e8e8;
    padding-left: 2em;
    margin-bottom: 2em;

}


section.personal-info ul li{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 2em;
    flex-wrap: wrap;
    font-family: "bebas-kai", sans-serif;
    font-weight: 200;
     font-style: normal;
     font-size: 1em;
     color: rgb(2, 64, 52);
     margin: 1em 0 1em 0;

}
section.personal-info label{
    flex: 1 0 8em;
}

@media screen and (prefers-color-scheme: light){
    h1{
     background-image: url('HIATUS\ Title\ light.png');
     background-repeat: no-repeat;
     background-size: contain;
    }
 h1 img{
     opacity: 0;
 }
  
 body{
     background-color: #fbfbfb ;
 }
     
 
 p,h2, nav li a{
     color: rgb(70 124 127)
 }
 figcaption{
     color: #024034;
 }
 figcaption.Photo-Gallery{
     color: #024034;
 
 }
 
 aside h2, aside p{
     color: #024034;
 }
 
 h3{
     color: #024034;
 }
 
 }
 
     
 